{% if banners is not empty %}
    <div class="banners">
        {% block banners %}
            {% set sf_js = false %}
            {% for banner in banners %}
                <div class="box_baner">
                    {% if banner.flash is defined and banner.flash and not sf_js %}
                        {% set sf_js = true %}
                        {% javascripts '@NitraStoreBundle/Resources/public/js/swfobject.js' %}
                            <script src="{{ asset_url }}"></script>
                        {% endjavascripts %}
                    {% endif %}
                    {% block banner %}
                        {% if banner.flash is defined and banner.flash %}
                            <div id="flashContent{{ loop.index }}" class="banner">
                        {% endif %}
                        {% block banner_link %}
                            <a {{ banner.flash is defined and banner.href ? 'href=' ~ banner.href ~ ' target=_blank' : '' }}>
                                <img src="{{ banner.image|default('images/no_image.jpg')|imagine_filter(size) }}" alt="{{ banner.name }}" title="{{ banner.name }}"/>
                            </a>
                        {% endblock banner_link %}
                        {% if banner.flash is defined and banner.flash %}
                            </div>
                            {% block banner_script %}
                                <script type="text/javascript">
                                    var flashvars = {};
                                    var params = {};
                                    var attributes = {};
                                    swfobject.embedSWF(
                                        "{{ banner.flash is defined and banner.flash ? data_root_url ~ banner.flash : '' }}",
                                        "flashContent{{ loop.index }}",
                                        "100%",
                                        "100",
                                        "10",
                                        flashvars,
                                        params,
                                        attributes
                                    );
                                </script>
                            {% endblock banner_script %}
                        {% endif %}
                    {% endblock banner %}
                </div>
            {% endfor %}
        {% endblock banners %}
    </div>
{% endif %}